Repository Roll20/roll20-character-sheets, pull requests merged in 2021-07, with the labels that each got.

#9196 [TheWitcher] single and joint strikes for crossbows
  TheWitcher/witchersheet.css
  TheWitcher/witchersheet.html
Labels: being reviewed

#9215 [Escape from Dino Island] new sheet
  Escape from Dino Island/DinoIsland.css
  Escape from Dino Island/DinoIsland.html
  Escape from Dino Island/green-forest-stretch.jpeg
  Escape from Dino Island/green-forest.jpg
  Escape from Dino Island/preview.png
  Escape from Dino Island/sheet.json
Labels: new sheet

#9225 The One Ring Second Edition (Basic)
  The One Ring Second Edition (Basic)/sheet.css
  The One Ring Second Edition (Basic)/sheet.html
  The One Ring Second Edition (Basic)/sheet.jpg
  The One Ring Second Edition (Basic)/sheet.json
  The One Ring Second Edition (Basic)/translation.json
Labels: new sheet

#9228 [Awaken] New Sheet
  Awaken/Awaken.css
  Awaken/Awaken.html
  Awaken/awakenPreview.png
  Awaken/img/D6Black.png
  Awaken/img/D6White.png
  Awaken/img/corps.png
  Awaken/img/esprit.png
  Awaken/img/extend.png
  Awaken/img/illusion.png
  Awaken/img/realite.png
  Awaken/img/retract.png
  Awaken/img/selection.png
  Awaken/scss/Awaken.scss
  Awaken/scss/_library.scss
  Awaken/scss/files/armes.scss
  Awaken/scss/files/armures.scss
  Awaken/scss/files/attaque.scss
  Awaken/scss/files/attributs.scss
  Awaken/scss/files/base.scss
  Awaken/scss/files/combatStats.scss
  Awaken/scss/files/corruption.scss
  Awaken/scss/files/enduranceVitalite.scss
  Awaken/scss/files/equipement.scss
  Awaken/scss/files/generique.scss
  Awaken/scss/files/prodiges.scss
  Awaken/scss/files/reputation.scss
  Awaken/scss/files/templates.scss
  Awaken/scss/files/top.scss
  Awaken/scss/files/vertus.scss
  Awaken/sheet.json
Labels: new sheet

#9220 [D&D 3.5] Add new fields "classes" for multiplayer character
  D&D_3-5/charsheet_3-5.css
  D&D_3-5/charsheet_3-5.html
  D&D_3-5/translation.json
Labels: blocked

#9257 O Legado Character Sheets
  O Legado/O Legadopreview.png
  O Legado/O legado.css
  O Legado/O legado.html
  O Legado/sheet.json
Labels: new sheet

#9244 New Hero System 6e Sheet for Heroic Campaigns
  HeroSystem6eHeroic/HeroSystem6eHeroic.css
  HeroSystem6eHeroic/HeroSystem6eHeroic.html
  HeroSystem6eHeroic/HeroSystemGraphic.png
  HeroSystem6eHeroic/README.md
  HeroSystem6eHeroic/screenshot-01.png
  HeroSystem6eHeroic/screenshot-02.png
  HeroSystem6eHeroic/screenshot-03.png
  HeroSystem6eHeroic/screenshot-04.png
  HeroSystem6eHeroic/screenshot-05.png
  HeroSystem6eHeroic/screenshot-06.png
  HeroSystem6eHeroic/sheet.json
Labels: new sheet

#9262 Red Markets upload
  Red Markets/ReadMe.md
  Red Markets/RedMarkets_preview.jpg
  Red Markets/redMarkets.css
  Red Markets/redMarkets.html
  Red Markets/sheet.json
  Red Markets/translation.json
Labels: new sheet

#9275 Dragon-Prince-fanmade
  Dragon-Prince-fanmade/assets/Logo1.png
  Dragon-Prince-fanmade/assets/Logo2.png
  Dragon-Prince-fanmade/assets/config.png
  Dragon-Prince-fanmade/assets/d10-280x280.png
  Dragon-Prince-fanmade/assets/d10-blank-280x280-hitch.png
  Dragon-Prince-fanmade/assets/d10-blank-280x280.png
  Dragon-Prince-fanmade/assets/d12-280x280.png
  Dragon-Prince-fanmade/assets/d12-blank-280x280-hitch.png
  Dragon-Prince-fanmade/assets/d12-blank-280x280.png
  Dragon-Prince-fanmade/assets/d14-280x280.png
  Dragon-Prince-fanmade/assets/d4-280x280.png
  Dragon-Prince-fanmade/assets/d4-blank-280x280-hitch.png
  Dragon-Prince-fanmade/assets/d4-blank-280x280.png
  Dragon-Prince-fanmade/assets/d6-280x280.png
  Dragon-Prince-fanmade/assets/d6-blank-280x280-hitch.png
  Dragon-Prince-fanmade/assets/d6-blank-280x280.png
  Dragon-Prince-fanmade/assets/d8-280x280.png
  Dragon-Prince-fanmade/assets/d8-blank-280x280-hitch.png
  Dragon-Prince-fanmade/assets/d8-blank-280x280.png
  Dragon-Prince-fanmade/assets/parchment.jpg
  Dragon-Prince-fanmade/assets/pc0.png
  Dragon-Prince-fanmade/assets/pc1.png
  Dragon-Prince-fanmade/assets/pc10.png
  Dragon-Prince-fanmade/assets/pc11.png
  Dragon-Prince-fanmade/assets/pc12.png
  Dragon-Prince-fanmade/assets/pc2.png
  Dragon-Prince-fanmade/assets/pc20.png
  Dragon-Prince-fanmade/assets/pc21.png
  Dragon-Prince-fanmade/assets/pc22.png
  Dragon-Prince-fanmade/assets/pc23.png
  Dragon-Prince-fanmade/assets/pc24.png
  Dragon-Prince-fanmade/assets/pc25.png
  Dragon-Prince-fanmade/assets/pc3.png
  Dragon-Prince-fanmade/assets/pc30.png
  Dragon-Prince-fanmade/assets/pc31.png
  Dragon-Prince-fanmade/assets/pc32.png
  Dragon-Prince-fanmade/assets/pc4.png
  Dragon-Prince-fanmade/assets/pc40.png
  Dragon-Prince-fanmade/assets/pc41.png
  Dragon-Prince-fanmade/assets/pc42.png
  Dragon-Prince-fanmade/assets/pc43.png
  Dragon-Prince-fanmade/assets/pc44.png
  Dragon-Prince-fanmade/assets/pc5.png
  Dragon-Prince-fanmade/assets/pc6.png
  Dragon-Prince-fanmade/assets/pc7.png
  Dragon-Prince-fanmade/assets/pc8.png
  Dragon-Prince-fanmade/assets/pc9.png
  Dragon-Prince-fanmade/assets/plotpoint.png
  Dragon-Prince-fanmade/assets/stress.png
  Dragon-Prince-fanmade/assets/trauma.png
  Dragon-Prince-fanmade/dragon-prince.css
  Dragon-Prince-fanmade/dragon-prince.html
  Dragon-Prince-fanmade/dragon-prince.png
  Dragon-Prince-fanmade/sheet.json
Labels: new sheet
