Repository Roll20/roll20-character-sheets, pull requests merged in 2024-07, with the labels that each got.

#13057 New Crowdin updates
  Call_of_Cthulhu_7th_Ed/translations/de.json
  DoubleCross3rd/translations/ja.json
  Gumshoe by Roll20/translations/de.json
  Pathfinder Community/translations/hu.json
  Wicked Ones/translations/es.json
Labels: new sheet

#13054 Splittermond - Bugfixes and New Features
  Splittermond/Sheet.css
  Splittermond/Sheet.html
Labels: being reviewed, blocked

#13063 [ButterflyAspect] update
  ButterflyAspect/ButterflyAspect.css
  ButterflyAspect/ButterflyAspect.css.map
  ButterflyAspect/ButterflyAspect.html
  ButterflyAspect/ButterflyAspect.sass
  ButterflyAspect/img/face-dizzy.png
  ButterflyAspect/img/face_happy.png
  ButterflyAspect/img/heart_empty.png
  ButterflyAspect/img/heart_full.png
  ButterflyAspect/img/mage_stick.png
  ButterflyAspect/img/mage_stick_violet.png
Labels: blocked

#13067 New Character Sheet: JoJoDnD
  JoJoDnD/jojodnd.css
  JoJoDnD/jojodnd.html
  JoJoDnD/preview.png
  JoJoDnD/sheet.json
Labels: new sheet

#13077 fix(Stars_Without_Number_Revised): add adventurer option to class selection dropdown
  Stars_Without_Number_Revised/ReadMe.md
  Stars_Without_Number_Revised/Source/pug/character.pug
  Stars_Without_Number_Revised/Source/ts/autofill.ts
  Stars_Without_Number_Revised/Source/ts/constants.ts
  Stars_Without_Number_Revised/translation.json
Labels: being reviewed

#13102 [Into the Odd 2e] Rename to translation.json file (no "s")
  Into the Odd 2nd edition/translation.json
Labels: i18n

#13092 [NEW SHEET] FIRE EMBLEM TRGMH BY DYLAN B
  Fire Emblem/Fire-Emblem.png
  Fire Emblem/Fire-emblem.css
  Fire Emblem/Fire-emblem.html
  Fire Emblem/README.md
  Fire Emblem/images/Fire-emblem-chatC-30px.png
  Fire Emblem/images/Fire-emblem-fletxa.png
  Fire Emblem/images/LOGO_FIRE_EMBLEM_BN.png
  Fire Emblem/images/LOGO_FIRE_EMBLEM_COLOR.png
  Fire Emblem/sheet.json
Labels: new sheet, being reviewed

#13115 New Sheet: Mausritter character sheet
  Mausritter/Mausritter.css
  Mausritter/Mausritter.html
  Mausritter/Readme.md
  Mausritter/preview.png
  Mausritter/sheet.json
Labels: new sheet

#13095 Vampiro - Sozinho na escuridão
  Solo10 Vampiro_Sozinho_Na_Escuridao/sheet.json
  Solo10 Vampiro_Sozinho_Na_Escuridao/vampiro.css
  Solo10 Vampiro_Sozinho_Na_Escuridao/vampiro.html
  Solo10 Vampiro_Sozinho_Na_Escuridao/vampiro.png
Labels: new sheet

#13100 New Sheet Addition - Advanced Dark Heresy 2.5 Character Sheet
  Advanced_Dark_Heresy_2_5/AdvancedDarkHeresy2.5.html
  Advanced_Dark_Heresy_2_5/AdvancedDarkHeresy2.5.png
  Advanced_Dark_Heresy_2_5/AdvancedDarkHeresyStyle2.5.css
  Advanced_Dark_Heresy_2_5/img/agilitylogo.png
  Advanced_Dark_Heresy_2_5/img/ballisticskilllogo.png
  Advanced_Dark_Heresy_2_5/img/consumableslogo.png
  Advanced_Dark_Heresy_2_5/img/corruptionlogo.png
  Advanced_Dark_Heresy_2_5/img/drugslogo.png
  Advanced_Dark_Heresy_2_5/img/fatepointlogo.png
  Advanced_Dark_Heresy_2_5/img/fellowshiplogo.png
  Advanced_Dark_Heresy_2_5/img/frosbitelogo.png
  Advanced_Dark_Heresy_2_5/img/grenadeslogo.png
  Advanced_Dark_Heresy_2_5/img/heresylogo.png
  Advanced_Dark_Heresy_2_5/img/inquisition.png
  Advanced_Dark_Heresy_2_5/img/insanitylogo.png
  Advanced_Dark_Heresy_2_5/img/intelligencelogo.png
  Advanced_Dark_Heresy_2_5/img/inventorylogo.png
  Advanced_Dark_Heresy_2_5/img/perceptionlogo.png
  Advanced_Dark_Heresy_2_5/img/resiliencepointlogo.png
  Advanced_Dark_Heresy_2_5/img/strengthlogo.png
  Advanced_Dark_Heresy_2_5/img/toughnesslogo.png
  Advanced_Dark_Heresy_2_5/img/weaponskilllogo.png
  Advanced_Dark_Heresy_2_5/img/willpowerlogo.png
  Advanced_Dark_Heresy_2_5/sheet.json
Labels: new sheet, blocked
