Repository Roll20/roll20-character-sheets, pull requests merged in 2024-05, with the labels that each got.

#12850 AD&D1e Revised
  ADnD_1E_Revised/1ESheet.html
  ADnD_1E_Revised/sheet.json
Labels: new sheet

#12873 AD&D 1e Revised - fix for attack matrix drop-down
  ADnD_1E_Revised/1ESheet.css
  ADnD_1E_Revised/1ESheet.html
  ADnD_1E_Revised/sheet.json
Labels: approved yaml change

#12869 [NEW SHEET] Into the Odd 2nd edition
  Into the Odd 2nd edition/Readme.md
  Into the Odd 2nd edition/images/background_roll.png
  Into the Odd 2nd edition/images/creation.png
  Into the Odd 2nd edition/images/creation_feuille.png
  Into the Odd 2nd edition/images/creation_tuto.png
  Into the Odd 2nd edition/images/dice_10.png
  Into the Odd 2nd edition/images/dice_12.png
  Into the Odd 2nd edition/images/dice_20.png
  Into the Odd 2nd edition/images/dice_20_bleu.png
  Into the Odd 2nd edition/images/dice_4.png
  Into the Odd 2nd edition/images/dice_6.png
  Into the Odd 2nd edition/images/dice_6x3.png
  Into the Odd 2nd edition/images/dice_8.png
  Into the Odd 2nd edition/images/dice_chance.png
  Into the Odd 2nd edition/images/fleche.png
  Into the Odd 2nd edition/images/logo_v1.png
  Into the Odd 2nd edition/images/logo_v2.png
  Into the Odd 2nd edition/images/radio.png
  Into the Odd 2nd edition/images/radio_checked.png
  Into the Odd 2nd edition/into_the_odd.css
  Into the Odd 2nd edition/into_the_odd.html
  Into the Odd 2nd edition/into_the_odd.png
  Into the Odd 2nd edition/sheet.json
Labels: new sheet, blocked

#12888 Into the Odd 2nd edition - Graphic adjustement
  Into the Odd 2nd edition/images/fond_de_page.webp
  Into the Odd 2nd edition/into_the_odd.css
  Into the Odd 2nd edition/into_the_odd.png
Labels: new sheet

#12867 Official Savage Worlds: fixes swade archetypes not dropping on vtt
  Official Savage Worlds/SavageWorldsCharSheet.css
  Official Savage Worlds/SavageWorldsCharSheet.html
Labels: blocked

#12885 AD&D 1e - small updates and fixes
  ADnD_1E_Revised/1ESheet.css
  ADnD_1E_Revised/1ESheet.html
Labels: blocked

#12899 New sheet for Terre 2
  Terre2/Terre2-preview.png
  Terre2/Terre2.css
  Terre2/Terre2.html
  Terre2/images/Logo.png
  Terre2/sheet.json
Labels: new sheet

#12925 [New Sheet] Fire Emblem - Ultimate Edtion
  Fire Emblem Ultimate Edition/FEUE.css
  Fire Emblem Ultimate Edition/FEUE.html
  Fire Emblem Ultimate Edition/FEUE.png
  Fire Emblem Ultimate Edition/sheet.json
Labels: new sheet

#12930 Dedales - sheet.json fix / img URL
  Dedales/dedale.css
  Dedales/dedale.png
  Dedales/sheet.json
Labels: new sheet
