Repository Roll20/roll20-character-sheets, pull requests merged in 2024-08, with the labels that each got.

#13136 new Sheet - Licantropo Maldição de Sangue - for solo10 system
  Solo10 Licantropo_Maldicao_de_Sangue/Licantropo.png
  Solo10 Licantropo_Maldicao_de_Sangue/licantropo.css
  Solo10 Licantropo_Maldicao_de_Sangue/licantropo.html
  Solo10 Licantropo_Maldicao_de_Sangue/sheet.json
Labels: new sheet

#13146 Subversion 1.0
  Subversion/preview.png
  Subversion/sheet.json
  Subversion/subversion.css
  Subversion/subversion.html
Labels: new sheet

#13154 Bruxo - Pacto das sombras
  Solo10 Bruxo_Pacto_das_Sombras/bruxo.css
  Solo10 Bruxo_Pacto_das_Sombras/bruxo.html
  Solo10 Bruxo_Pacto_das_Sombras/bruxo.png
  Solo10 Bruxo_Pacto_das_Sombras/sheet.json
Labels: new sheet, blocked

#13158 Into_the_madness
  Into_the_madness/_Visualizador/roll20_into_the_madness.css
  Into_the_madness/_Visualizador/roll20_into_the_madness.html
  Into_the_madness/img/bd_bottom_center.png
  Into_the_madness/img/bd_bottom_left.png
  Into_the_madness/img/bd_bottom_right.png
  Into_the_madness/img/bd_left_center.png
  Into_the_madness/img/bd_right_center.png
  Into_the_madness/img/bd_top_center.png
  Into_the_madness/img/bd_top_left.png
  Into_the_madness/img/bd_top_right.png
  Into_the_madness/img/img_book.png
  Into_the_madness/img/img_box.png
  Into_the_madness/img/img_circle.png
  Into_the_madness/img/img_cloud.png
  Into_the_madness/img/img_heart.png
  Into_the_madness/img/img_hexagon.png
  Into_the_madness/img/img_shield.png
  Into_the_madness/img/img_vigor.png
  Into_the_madness/img/img_weapon.png
  Into_the_madness/img/logo.png
  Into_the_madness/img/logo_white.png
  Into_the_madness/roll20_into_the_madness.css
  Into_the_madness/roll20_into_the_madness.html
  Into_the_madness/roll20_into_the_madness.jpg
  Into_the_madness/sheet.json
Labels: new sheet

#13182 aventuras na era hiboriana
  Solo10 Aventuras na era hiboriana/aeh.css
  Solo10 Aventuras na era hiboriana/aeh.html
  Solo10 Aventuras na era hiboriana/aeh.png
  Solo10 Aventuras na era hiboriana/sheet.json
Labels: new sheet

#13203 solo 10 Heranca de Cthulhu
  Solo10 Heranca de cthulhu/hdc.css
  Solo10 Heranca de cthulhu/hdc.html
  Solo10 Heranca de cthulhu/hdc.png
  Solo10 Heranca de cthulhu/sheet.json
Labels: new sheet

#13187 SLVNZ 2.2.0 Custom Character Sheet - New Sheet
  SLVNZ 2.2.0/sheet.jpg
  SLVNZ 2.2.0/sheet.json
  SLVNZ 2.2.0/slvnz2-2-0.css
  SLVNZ 2.2.0/slvnz2-2-0.html
Labels: new sheet, blocked

#13157 [NEW SHEET] Hexen Academy
  Hexen Academy/Hexen.css
  Hexen Academy/Hexen.html
  Hexen Academy/Hexen.png
  Hexen Academy/sheet.json
Labels: new sheet

#13209 Rolemaster Unified Official: Creature updates and misc QoL improvements.
  RolemasterUnified_Official/fonts/PragRoman.ttf
  RolemasterUnified_Official/fonts/PragRoman.woff
  RolemasterUnified_Official/rolemasterunified.css
  RolemasterUnified_Official/rolemasterunified.html
  RolemasterUnified_Official/sheet.json
  RolemasterUnified_Official/updates.md
Labels: blocked

#13218 Cosmere: v1.00 release
  cosmere/Stormlight_Archives.css
  cosmere/Stormlight_Archives.html
  cosmere/preview.jpg
  cosmere/sheet.json
  cosmere/translation.json
Labels: new sheet

#13217 WorstDays.html, WorstDays_CSS.css, sheet.json, WorstDays.jpg, new Sheet
  The Worst Days/WorstDays.html
  The Worst Days/WorstDays.jpg
  The Worst Days/WorstDays_CSS.css
  The Worst Days/sheet.json
Labels: new sheet, blocked

#13223 Solo10 Base
  Solo10_base/sheet.json
  Solo10_base/solo10.css
  Solo10_base/solo10.html
  Solo10_base/solo10.png
Labels: new sheet, blocked

#13225 Sabre RPG Character Sheet (New Sheet, Dragonsbane Entertainment)
  SabreRPG/sabreRPG_sheet.jpg
  SabreRPG/sabre_rpg.css
  SabreRPG/sabre_rpg.html
  SabreRPG/sheet.json
Labels: new sheet, blocked

#13212 100DOS Mythic by 100DOS Bugfix and New Features
  Official_100DOS_Mythic_by_100DOS/100DOSMythicUpdated.css
  Official_100DOS_Mythic_by_100DOS/100DOSMythicUpdated.html
Labels: blocked

#13239 Sinistros e monstros
  sinistros_e_monstros/sheet.json
  sinistros_e_monstros/sinistros_e_monstros.css
  sinistros_e_monstros/sinistros_e_monstros.html
  sinistros_e_monstros/sinistros_e_monstros.png
Labels: new sheet

#13214 Big Eyes, Small Mouth 4e (Dyskami Authorized) New Sheet
  Dyskami Tri-Stat_BESM_and Absolute Power/Tri-Stat_BESM_AP.css
  Dyskami Tri-Stat_BESM_and Absolute Power/Tri-Stat_BESM_AP.html
  Dyskami Tri-Stat_BESM_and Absolute Power/preview.jpg
  Dyskami Tri-Stat_BESM_and Absolute Power/sheet.json
  Dyskami Tri-Stat_BESM_and Absolute Power/translation.json
Labels: new sheet, blocked

#13248 DCC Official: Initial Release
  dcc_official/assets/border-decoration.png
  dcc_official/assets/border-outline.png
  dcc_official/assets/border-roll.png
  dcc_official/assets/character-record-sheet.png
  dcc_official/assets/cleric-bl.png
  dcc_official/assets/cleric-br.png
  dcc_official/assets/cleric-tl.png
  dcc_official/assets/cleric-tr.png
  dcc_official/assets/dungeon-crawl-classics.png
  dcc_official/assets/dwarf-bl.png
  dcc_official/assets/dwarf-br.png
  dcc_official/assets/dwarf-tl.png
  dcc_official/assets/dwarf-tr.png
  dcc_official/assets/elf-bl.png
  dcc_official/assets/elf-br.png
  dcc_official/assets/elf-tl.png
  dcc_official/assets/elf-tr.png
  dcc_official/assets/halfling-bl.png
  dcc_official/assets/halfling-br.png
  dcc_official/assets/halfling-tl.png
  dcc_official/assets/halfling-tr.png
  dcc_official/assets/misc-dragon.png
  dcc_official/assets/subtitle-cleric.png
  dcc_official/assets/subtitle-dwarf.png
  dcc_official/assets/subtitle-elf.png
  dcc_official/assets/subtitle-halfling.png
  dcc_official/assets/subtitle-thief.png
  dcc_official/assets/subtitle-warrior.png
  dcc_official/assets/subtitle-wizard.png
  dcc_official/assets/subtitle-zero.png
  dcc_official/assets/texture-small-bright.png
  dcc_official/assets/texture-small-super-bright.png
  dcc_official/assets/texture-small.png
  dcc_official/assets/thief-bl.png
  dcc_official/assets/thief-br.png
  dcc_official/assets/thief-tl.png
  dcc_official/assets/thief-tr.png
  dcc_official/assets/warrior-bl.png
  dcc_official/assets/warrior-br.png
  dcc_official/assets/warrior-tl.png
  dcc_official/assets/warrior-tr.png
  dcc_official/assets/wizard-bl.png
  dcc_official/assets/wizard-br.png
  dcc_official/assets/wizard-tl.png
  dcc_official/assets/wizard-tr.png
  dcc_official/assets/zero-bl.png
  dcc_official/assets/zero-br.png
  dcc_official/assets/zero-tl.png
  dcc_official/assets/zero-tr.png
  dcc_official/dcc.css
  dcc_official/dcc.html
  dcc_official/sheet.json
  dcc_official/translation.json
Labels: new sheet
