Repository Roll20/roll20-character-sheets, pull requests merged in 2024-06, with the labels that each got.

#12979 Walking Dead 1.0 release
  walking_dead/sheet.json
  walking_dead/translation.json
  walking_dead/walking_dead.css
  walking_dead/walking_dead.html
Labels: new sheet

#12981 Walking dead preview image
  walking_dead/preview.jpg
Labels: new sheet, blocked

#12968 Torchbearer 2E: migrate off of legacy, setup pug and scss, fix disposition and exhausted roll
  Torchbearer 2E/.gitignore
  Torchbearer 2E/README.md
  Torchbearer 2E/package.json
  Torchbearer 2E/sheet.json
  Torchbearer 2E/src/js/scripts.js
  Torchbearer 2E/src/pug/abilities.pug
  Torchbearer 2E/src/pug/artha.pug
  Torchbearer 2E/src/pug/conditions.pug
  Torchbearer 2E/src/pug/containers/rolltemplates.pug
  Torchbearer 2E/src/pug/containers/sheetcontainer.pug
  Torchbearer 2E/src/pug/inventory.pug
  Torchbearer 2E/src/pug/pages/anatomy.pug
  Torchbearer 2E/src/pug/pages/hidden.pug
  Torchbearer 2E/src/pug/pages/kit.pug
  Torchbearer 2E/src/pug/pages/levels.pug
  Torchbearer 2E/src/pug/pages/magic.pug
  Torchbearer 2E/src/pug/pages/options.pug
  Torchbearer 2E/src/pug/pages/relationships.pug
  Torchbearer 2E/src/pug/pages/tabs.pug
  Torchbearer 2E/src/pug/rolls.pug
  Torchbearer 2E/src/pug/sheet.pug
  Torchbearer 2E/src/pug/skills.pug
  Torchbearer 2E/src/pug/tabs.pug
  Torchbearer 2E/src/pug/traits.pug
  Torchbearer 2E/src/pug/who_you_are.pug
  Torchbearer 2E/src/pug/wises.pug
  Torchbearer 2E/src/scss/abilities_and_skills.scss
  Torchbearer 2E/src/scss/advancement.scss
  Torchbearer 2E/src/scss/artha.scss
  Torchbearer 2E/src/scss/conditions.scss
  Torchbearer 2E/src/scss/edit_mode.scss
  Torchbearer 2E/src/scss/inventory.scss
  Torchbearer 2E/src/scss/levels.scss
  Torchbearer 2E/src/scss/magic.scss
  Torchbearer 2E/src/scss/relationships.scss
  Torchbearer 2E/src/scss/rolls.scss
  Torchbearer 2E/src/scss/sheet.scss
  Torchbearer 2E/src/scss/tabs.scss
  Torchbearer 2E/src/scss/traits.scss
  Torchbearer 2E/src/scss/variables.scss
  Torchbearer 2E/src/scss/who_you_are.scss
  Torchbearer 2E/src/scss/wises.scss
  Torchbearer 2E/src/torchbearer.pug
  Torchbearer 2E/src/torchbearer.scss
  Torchbearer 2E/torchbearer.css
  Torchbearer 2E/torchbearer.html
Labels: being reviewed

#13028 [NEW SHEET] EXALTED FIRST EDITION
  exalted 1/README.md
  exalted 1/exalted.css
  exalted 1/exalted.html
  exalted 1/exalted.png
  exalted 1/images/BACKGROUND_LOGO_EXALTED_1_EDITION_860px.png
  exalted 1/images/BACKGROUND_MIG_EXALTED_1_EDITION_860px.png
  exalted 1/images/BACKGROUND_PEU_EXALTED_1_EDITION_860px.png
  exalted 1/images/BACKGROUND_SEPARADOR_EXALTED_1_EDITION_860px.png
  exalted 1/images/BACKGROUND_TOP_EXALTED_1_EDITION_860px.png
  exalted 1/sheet.json
Labels: new sheet, being reviewed

#13036 [NEW SHEET] Cloudbreaker Alliance
  Cloudbreaker_Alliance/Elements_ASTRAL.png
  Cloudbreaker_Alliance/Elements_CHAOS.png
  Cloudbreaker_Alliance/Elements_EARTH.png
  Cloudbreaker_Alliance/Elements_FIRE.png
  Cloudbreaker_Alliance/Elements_ICE.png
  Cloudbreaker_Alliance/Elements_LIGHTNING.png
  Cloudbreaker_Alliance/Elements_METAL.png
  Cloudbreaker_Alliance/Elements_ORDER.png
  Cloudbreaker_Alliance/Elements_POISON.png
  Cloudbreaker_Alliance/Elements_WATER.png
  Cloudbreaker_Alliance/Elements_WIND.png
  Cloudbreaker_Alliance/Elements_WOOD.png
  Cloudbreaker_Alliance/cloudbreaker_alliance.css
  Cloudbreaker_Alliance/cloudbreaker_alliance.html
  Cloudbreaker_Alliance/cloudbreaker_alliance.png
  Cloudbreaker_Alliance/sheet.json
Labels: new sheet, blocked
