Repository Roll20/roll20-character-sheets, pull requests merged in 2024-09, with the labels that each got.

#13233 Mongoose Publishing Traveller 2e Official Character Sheet - New Sheet
  Mongoose Traveller 2e Official/MongooseLogo.png
  Mongoose Traveller 2e Official/Official Mongoose Publishing Traveller 2nd Edition.css
  Mongoose Traveller 2e Official/Official Mongoose Publishing Traveller 2nd Edition.html
  Mongoose Traveller 2e Official/Official Mongoose Publishing Traveller 2nd Edition.png
  Mongoose Traveller 2e Official/OrangeDivider.png
  Mongoose Traveller 2e Official/README.md
  Mongoose Traveller 2e Official/TravellerLogo.png
  Mongoose Traveller 2e Official/sheet.json
  Mongoose Traveller 2e Official/translation.json
Labels: new sheet, blocked

#13287 Official Mongoose Publishing Traveller 2nd Edition Character Sheet - Bugfix broken README.md link
  Mongoose Traveller 2e Official/README.md
Labels: new sheet

#13294 Black Troopers
  Black Troopers/blacktroopers.css
  Black Troopers/blacktroopers.html
  Black Troopers/blacktroopers.png
  Black Troopers/sheet.json
Labels: new sheet

#13295 RolemasterUnified Official: CRP Skills and other minor updates.
  RolemasterUnified_Official/preview.png
  RolemasterUnified_Official/rolemasterunified.css
  RolemasterUnified_Official/rolemasterunified.html
  RolemasterUnified_Official/sheet.json
  RolemasterUnified_Official/updates.md
Labels: blocked

#13286 NEW SHEET: Rangers of a Broken World
  Rangers of a Broken World/RoaBW.css
  Rangers of a Broken World/RoaBW.html
  Rangers of a Broken World/RoaBW.png
  Rangers of a Broken World/sheet.json
  Rangers of a Broken World/translation.json
Labels: new sheet

#13300 Super TV Show
  Super_T_Show/sheet.json
  Super_T_Show/supertvshow.css
  Super_T_Show/supertvshow.html
  Super_T_Show/supertvshow.png
Labels: new sheet

#13306 Rolemaster Unified Official: Update how spells are tracking during level
  RolemasterUnified_Official/rolemasterunified.html
  RolemasterUnified_Official/sheet.json
  RolemasterUnified_Official/updates.md
Labels: blocked

#13290 (New Sheet) Shadow of the Weird Wizard
  Shadow of the Weird Wizard/Assets/logo.png
  Shadow of the Weird Wizard/readme.md
  Shadow of the Weird Wizard/shadowoftheweirdwizard.css
  Shadow of the Weird Wizard/shadowoftheweirdwizard.html
  Shadow of the Weird Wizard/sheet.json
  Shadow of the Weird Wizard/weirdwizard.jpg
Labels: new sheet

#13343 Mongoose Traveller 2e Official v1.0.4 - New Features and Bug Fixes
  Mongoose Traveller 2e Official/Official Mongoose Publishing Traveller 2nd Edition.css
  Mongoose Traveller 2e Official/Official Mongoose Publishing Traveller 2nd Edition.html
  Mongoose Traveller 2e Official/Official Mongoose Publishing Traveller 2nd Edition.png
  Mongoose Traveller 2e Official/README.md
  Mongoose Traveller 2e Official/translation.json
Labels: new sheet

#13348 New Crowdin updates
  Mongoose Traveller 2e Official/translations/af.json
  Mongoose Traveller 2e Official/translations/ca.json
  Mongoose Traveller 2e Official/translations/cs.json
  Mongoose Traveller 2e Official/translations/da.json
  Mongoose Traveller 2e Official/translations/de.json
  Mongoose Traveller 2e Official/translations/el.json
  Mongoose Traveller 2e Official/translations/en.json
  Mongoose Traveller 2e Official/translations/es.json
  Mongoose Traveller 2e Official/translations/fi.json
  Mongoose Traveller 2e Official/translations/fr.json
  Mongoose Traveller 2e Official/translations/he.json
  Mongoose Traveller 2e Official/translations/hu.json
  Mongoose Traveller 2e Official/translations/it.json
  Mongoose Traveller 2e Official/translations/ja.json
  Mongoose Traveller 2e Official/translations/ko.json
  Mongoose Traveller 2e Official/translations/nl.json
  Mongoose Traveller 2e Official/translations/pb.json
  Mongoose Traveller 2e Official/translations/pl.json
  Mongoose Traveller 2e Official/translations/pt.json
  Mongoose Traveller 2e Official/translations/ru.json
  Mongoose Traveller 2e Official/translations/sl.json
  Mongoose Traveller 2e Official/translations/sv.json
  Mongoose Traveller 2e Official/translations/tr.json
  Mongoose Traveller 2e Official/translations/uk.json
  Mongoose Traveller 2e Official/translations/zh.json
Labels: new sheet
