Repository Roll20/roll20-character-sheets, pull requests merged in 2025-01, with the labels that each got.

#13627 Chroniques Oubliees Fantasy 2E Version 1.0.0
  ChroniquesOublieesFantasy2/README.md
  ChroniquesOublieesFantasy2/cof2e.css
  ChroniquesOublieesFantasy2/cof2e.html
  ChroniquesOublieesFantasy2/cof2e.png
  ChroniquesOublieesFantasy2/cof2e_logo.jpg
  ChroniquesOublieesFantasy2/cond_affaibli.png
  ChroniquesOublieesFantasy2/cond_aveugle.png
  ChroniquesOublieesFantasy2/cond_essoufle.png
  ChroniquesOublieesFantasy2/cond_etourdi.png
  ChroniquesOublieesFantasy2/cond_immobilise.png
  ChroniquesOublieesFantasy2/cond_invalide.png
  ChroniquesOublieesFantasy2/cond_paralyse.png
  ChroniquesOublieesFantasy2/cond_ralenti.png
  ChroniquesOublieesFantasy2/cond_renverse.png
  ChroniquesOublieesFantasy2/cond_surpris.png
  ChroniquesOublieesFantasy2/sheet.json
Labels: new sheet, Awaiting Verification

#13645 [NEW SHEET] Obscuritas Æterna
  Obscuritas/images/armure_aucune.webp
  Obscuritas/images/armure_cuir.webp
  Obscuritas/images/armure_maille.webp
  Obscuritas/images/armure_plaques.webp
  Obscuritas/images/armure_tissu.webp
  Obscuritas/images/aura_ange.webp
  Obscuritas/images/aura_ange2.webp
  Obscuritas/images/aura_ange3.webp
  Obscuritas/images/aura_ange4.webp
  Obscuritas/images/aura_centre.webp
  Obscuritas/images/aura_demon.webp
  Obscuritas/images/aura_jauge_2.webp
  Obscuritas/images/aura_marque.webp
  Obscuritas/images/background.webp
  Obscuritas/images/background_menu.webp
  Obscuritas/images/background_scene.webp
  Obscuritas/images/background_zone_aura_nb.webp
  Obscuritas/images/barre_titre_armes.webp
  Obscuritas/images/border_carac.webp
  Obscuritas/images/bouclier_pavois.webp
  Obscuritas/images/bouclier_rond.webp
  Obscuritas/images/bouclier_sans.webp
  Obscuritas/images/cadre1.png
  Obscuritas/images/cadre2.png
  Obscuritas/images/cadre3.png
  Obscuritas/images/cadre4.png
  Obscuritas/images/carre_carac_finale.webp
  Obscuritas/images/cercle_carac.webp
  Obscuritas/images/dessin_armes.webp
  Obscuritas/images/dessin_bourse.webp
  Obscuritas/images/dessin_carnet.webp
  Obscuritas/images/dessin_heroique_effet.webp
  Obscuritas/images/dessin_heroique_restriction.webp
  Obscuritas/images/dessin_sac.webp
  Obscuritas/images/double_fleche.webp
  Obscuritas/images/esoterik_background_armement.webp
  Obscuritas/images/esoterik_background_carac.webp
  Obscuritas/images/esoterik_background_competences.webp
  Obscuritas/images/esoterik_background_info.webp
  Obscuritas/images/hexagram.webp
  Obscuritas/images/ligne_notes.png
  Obscuritas/images/separateur_bas_croix.png
  Obscuritas/images/separateur_centre_comp.png
  Obscuritas/images/separateur_centre_croix.png
  Obscuritas/images/separateur_crane.png
  Obscuritas/images/separateur_crane_blanc.png
  Obscuritas/images/separateur_croix.webp
  Obscuritas/images/separateur_horizontal_1.png
  Obscuritas/images/token_aude1.webp
  Obscuritas/images/token_baudoin1.webp
  Obscuritas/images/token_einarth1.webp
  Obscuritas/images/token_felix1.webp
  Obscuritas/images/token_mathilde1.webp
  Obscuritas/images/token_robert1.webp
  Obscuritas/obscuritas.css
  Obscuritas/obscuritas.html
  Obscuritas/obscuritas.png
  Obscuritas/sheet.json
Labels: new sheet

#13646 [ANIMON STORY] New Sheet
  Animon_Story/Animon_Story.css
  Animon_Story/Animon_Story.html
  Animon_Story/Animon_Story.png
  Animon_Story/aachen-bold-opentype.otf
  Animon_Story/sheet.json
Labels: blocked, Awaiting Verification

#13617 [New sheet] Anime 5E
  anime5e/ANIME_5E.png
  anime5e/README.md
  anime5e/anime5e.css
  anime5e/anime5e.html
  anime5e/images/ANIME5E_BACKGROUND_PROFICIENCIES.png
  anime5e/images/ANIME5E_LOGO_275px.png
  anime5e/images/ANIME5E_STATS.png
  anime5e/images/ANIME5E_TOP_BAR.png
  anime5e/images/h.txt
  anime5e/sheet.json
Labels: being reviewed

#13637 FraggedEmpire2E.html modification
  Fragged-Empire 2E/FraggedEmpire2E.css
  Fragged-Empire 2E/FraggedEmpire2E.html
Labels: blocked

#13638 [New Sheet] - D&D 3.5 Epic 6 Sheet
  D&D_3-5_Epic_6/README.md
  D&D_3-5_Epic_6/dnd_3-5_epic_6.css
  D&D_3-5_Epic_6/dnd_3-5_epic_6.html
  D&D_3-5_Epic_6/dnd_3-5_epic_6.png
  D&D_3-5_Epic_6/generated/characteristics.html
  D&D_3-5_Epic_6/generated/spells.html
  D&D_3-5_Epic_6/pictures/logo.png
  D&D_3-5_Epic_6/sheet.json
  D&D_3-5_Epic_6/src/css/components/armor.css
  D&D_3-5_Epic_6/src/css/components/attacks.css
  D&D_3-5_Epic_6/src/css/components/attributes.css
  D&D_3-5_Epic_6/src/css/components/hit-points.css
  D&D_3-5_Epic_6/src/css/components/inventory.css
  D&D_3-5_Epic_6/src/css/components/masteries.css
  D&D_3-5_Epic_6/src/css/components/repeating-list.css
  D&D_3-5_Epic_6/src/css/components/saves.css
  D&D_3-5_Epic_6/src/css/components/skills.css
  D&D_3-5_Epic_6/src/css/components/spells.css
  D&D_3-5_Epic_6/src/css/components/stats-ac.css
  D&D_3-5_Epic_6/src/css/conditional-visibility.css
  D&D_3-5_Epic_6/src/css/flex.css
  D&D_3-5_Epic_6/src/css/frames.css
  D&D_3-5_Epic_6/src/css/general-inputs.css
  D&D_3-5_Epic_6/src/css/header.css
  D&D_3-5_Epic_6/src/css/journal.css
  D&D_3-5_Epic_6/src/css/main.css
  D&D_3-5_Epic_6/src/css/npc.css
  D&D_3-5_Epic_6/src/css/roll-templates.css
  D&D_3-5_Epic_6/src/gulpfile.js
  D&D_3-5_Epic_6/src/html/components/attacks.html
  D&D_3-5_Epic_6/src/html/components/modifiers.html
  D&D_3-5_Epic_6/src/html/components/skills-options.html
  D&D_3-5_Epic_6/src/html/components/skills.html
  D&D_3-5_Epic_6/src/html/configuration.html
  D&D_3-5_Epic_6/src/html/header.html
  D&D_3-5_Epic_6/src/html/journal.html
  D&D_3-5_Epic_6/src/html/main.html
  D&D_3-5_Epic_6/src/html/npc.html
  D&D_3-5_Epic_6/src/html/pc.html
  D&D_3-5_Epic_6/src/html/roll-templates.html
  D&D_3-5_Epic_6/src/js/actions.js
  D&D_3-5_Epic_6/src/js/attacks.js
  D&D_3-5_Epic_6/src/js/characteristics.js
  D&D_3-5_Epic_6/src/js/classes.js
  D&D_3-5_Epic_6/src/js/init_armor_inventory.js
  D&D_3-5_Epic_6/src/js/main.js
  D&D_3-5_Epic_6/src/js/modifiers.js
  D&D_3-5_Epic_6/src/js/saves.js
  D&D_3-5_Epic_6/src/js/skills.js
  D&D_3-5_Epic_6/src/js/spells.js
  D&D_3-5_Epic_6/src/js/update.js
  D&D_3-5_Epic_6/src/js/variables.js
  D&D_3-5_Epic_6/src/package.json
  D&D_3-5_Epic_6/src/pug/characteristics.pug
  D&D_3-5_Epic_6/src/pug/spells.pug
  D&D_3-5_Epic_6/translation.json
Labels: new sheet

#13658 New Sheet - Península Ancestral
  Península Ancestral/peninsulaAncestral.css
  Península Ancestral/peninsulaAncestral.html
  Península Ancestral/peninsulaAncestral.png
  Península Ancestral/sheet.json
Labels: new sheet

#13621 Bugfix: Correct math on Mythic D6 Success Rolls
  MythicD6/src/core.html
Labels: being reviewed

#13725 New sheet Heróis & Hordas
  herois_e_hordas/heh.css
  herois_e_hordas/heh.html
  herois_e_hordas/heh.jpg
  herois_e_hordas/sheet.json
Labels: new sheet

#13726 Renaming Peninsula folder
  Peninsula Ancestral/peninsulaAncestral.css
  Peninsula Ancestral/peninsulaAncestral.html
  Peninsula Ancestral/peninsulaAncestral.png
  Peninsula Ancestral/sheet.json
Labels: new sheet

#13723 New sheet - Blades '68
  Blades 68/assets/images/bladesin68_logo.png
  Blades 68/assets/images/boom_checked.png
  Blades 68/assets/images/boom_empty.png
  Blades 68/assets/images/credit_block.png
  Blades 68/assets/images/dice_bg.png
  Blades 68/assets/images/dice_bg_black.png
  Blades 68/assets/images/dice_bg_blue.png
  Blades 68/assets/images/stack_empty.png
  Blades 68/assets/images/stack_filled.png
  Blades 68/assets/images/stresspill_empty.png
  Blades 68/assets/images/stresspill_filled.png
  Blades 68/assets/images/tab-logo-rev.png
  Blades 68/assets/images/tab-logo.png
  Blades 68/blades68.css
  Blades 68/blades68.html
  Blades 68/blades68.png
  Blades 68/sheet.json
  Blades 68/translation.json
Labels: blocked

#13709 Draci doupe II – CSS tweaks and smaller size images
  Draci doupe II/DrD2.css
  Draci doupe II/DrD2.html
  Draci doupe II/assets/bg-block4-darkmode.jpg
  Draci doupe II/assets/bg-block4-darkmode.webp
  Draci doupe II/assets/bg-block4.png
  Draci doupe II/assets/bg-block4.webp
  Draci doupe II/assets/bg-butt-darkmode.jpg
  Draci doupe II/assets/bg-butt-darkmode.webp
  Draci doupe II/assets/bg-butt.png
  Draci doupe II/assets/bg-butt.webp
  Draci doupe II/assets/bg-darkmode.jpg
  Draci doupe II/assets/bg-darkmode.webp
  Draci doupe II/assets/bg-tile-darkmode.jpg
  Draci doupe II/assets/bg-tile-darkmode.webp
  Draci doupe II/assets/bg-tile.png
  Draci doupe II/assets/bg-tile.webp
  Draci doupe II/assets/bg.jpeg
  Draci doupe II/assets/bg.webp
Labels: blocked
